.usb{
    width:25%;
    
    background-image: url('https://image.shutterstock.com/image-vector/man-using-usb-flash-drive-600w-1150646282.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}

.formpage{
    width:75%;
    background-image: url('https://www.wallpaperkiss.com/wimg/b/134-1348395_big.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  
}
.form{
    padding-top: 2%;
    padding-bottom: 2%;
    width:85%;
    background-color: white;
    text-align: center;
}

.input{
    width:40%;
    border-color: red;
    margin:2% ;
}