




.text-section {
    max-height: 19.8rem;
    height: 100%;
    text-align: justify;
    overflow-y: auto;
}

.row-items {
    background-color: #f7f7f7;
    width: 83%;
}
.searchs {
   
    border-radius: 30px;
    border: 2px solid #d32229;
    margin-bottom: 2%;
   
}

.search-inputs:focus {
    outline: none!important;
}
.search-inputs{
    border: none;

}
.section-main-items-resources {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

@media (min-width:768px) and (max-width:1023px) {
    .row-resource {
        padding-top: 1rem;
    }
    .row-items {
        width: 100%;
        margin-top: 1.5rem!important;
    }
    .div-resource-item {
        justify-content: center!important;
    }
    .section-main-items-resources {
        padding-right: 1.5rem!important;
        padding-left: 1.5rem!important;
    }
}
.logo{
    width:80%;
    height: 20rem;
}

.mapouter{
    position:relative;
    text-align:right;
    width:100%;
    height:300px;
}

.gmap_canvas 
{overflow:hidden;
    background:none!important;
    width:100%;
    height:300px;
}
.search-inputs{
    border: none;
    
}
.searchs {
  
    padding: 0.7rem!important;
    border-radius: 20px;
    border: 2px solid #d32229;
   
}
.imgs{
    height: 3rem!important;
    width: 3rem!important;
   
}
.gmap_iframe {
    height:300px!important;
}
@media (min-width:0px) and (max-width:767px) {
    .search-inputs{
        border: none;
        width: 100%;
        
    }
    .imgs{
        height: 3rem!important;
        width: 3rem!important;
       
    }
    .searchs {
    
        padding: 0.7rem!important;
        border-radius: 20px;
        border: 2px solid #d32229;
        
        
       
    }
    .row-resource {
        padding-right: 0rem!important;
        padding-left: 0rem!important;
    }
    .row-resource {
        padding-top: 1rem;
    }
    .row-items {
        width: 100%;
        margin-top: 1.5rem!important;
    }
    .div-resource-item {
        justify-content: center!important;
    }
    .section-main-items-resources {
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }
    .col-overlay-resource {
        margin-top: 1rem!important;
        width: 100%!important;
    }
}